@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* { /*모든걸 대상*/
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;/*첫글자 대문자로 변환*/
    transition: 0.2s linear;/*2초 뒤에 선형으로 변환*/
}

:root { /*많이 사용하는 것들 변수만들기*/
    --primary-color:#6f42c1;
    --white: #fff;
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    --gray: #808080;
    --light-gray: #eee;
}

html {
    font-size: 62.5%; /*전체적인 폰트 크기 62.5%로 줄이기*/
    scroll-behavior: smooth; /*스크롤 동작 추가*/
    scroll-padding-top: 7.5rem;
}

section {
    padding: 5rem 9%;
}

.heading{
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
    margin-bottom: 3rem;
    text-align: center;
    position: relative;
    padding-bottom: 2rem;
}

.heading::after {   /*제목 하단에 밑줄*/
    content: '';
    position: absolute;
    border-bottom: 0.2rem solid var(--primary-color);
    width: 10rem;
    bottom: 1rem;
    left: 50%;
    display: inline-block;
    margin-left: -5rem;
}

/*Home*/
.home {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url('images/배경화면.jpg') no-repeat;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed; /*배경 고정*/

    display: flex; /*flex 박스 사용*/
    align-items: center; 
    justify-content: center; /*텍스트 중앙*/
}

.home h1 {
    color: var(--white); /*변수사용*/
    font-size: 6rem; 
    text-align: center;
    letter-spacing: 0.2rem;
}
/*Home*/

/*Header*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    z-index: 100; /*사진이나 이미지 등이 겹치면 이 헤더 부분이 다른 항복들을 덮어버리게 만듦 숫자가 클 수록 위에 있는거라서 100으로 만들면 제일 위에 올 수 밖에 없음*/
}

.header.active {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: var(--box-shadow);
} 

.header .logo {
    font-size: 2.5rem;
    color: var(--white);
    letter-spacing: 0.5rem; /*문자간격*/
    margin-right: auto;
}

.header .navbar a {
    font-size: 2rem;
    color: var(--white);
    margin-left: 2rem;
    font-weight: 300;
}

.header .navbar a:hover {/*마우스 커셔 변경*/
    color: var(--primary-color);
}

.header .menu {
    font-style: 2.5rem;
    color: var(--white);
    cursor: pointer;
    display: none; /*데스크 탑에는 안보이도록 설정. 모바일이나 태블릿에는 보일 예정*/
}
/*Header*/

/*introduction*/
.introduction .box-container .box img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.introduction .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));/*반응형 그리드 설정, 최소/최대값 설정하기*/
    gap: 2rem;  /*두개로 나눔 (글/사진)*/
}

.introduction .box-container .box p {
    font-size: 1.5rem;
    line-height: 2;
    margin-bottom: 1.5rem;
    letter-spacing: 0.1rem;
    color: var(--gray);
    text-overflow: none;
}
/*introduction*/


/*experience*/
.character {
    background-color: var(--light-gray);
}

.character .box-container .box .image {
    height: 40rem;
    overflow: hidden;
    margin-bottom: 2rem;
}

.character .box-container .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.character .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
}

.character .box-container .box {
    background-color: var(--white);
    box-shadow: var(--box-shadow);
}

.character .box-container .box .info {
    text-align: center;
}

.character .box-container .box .info h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.character .box-container .box .info p {
    font-size: 1.5rem;
    padding: 1.5rem;
    line-height: 2;
    margin-bottom: 1.5rem;
    letter-spacing: 0.1rem;
    color: var(--gray);
    transform: none;
}

.character .box-container .box .image img:hover {
    transform: scale(1.1);
}
/*character*/

/*project proposal*/
.project-proposal {
    background-color: var(--light-gray);
}

.project-proposal .box-container .box .image {
    position: relative;
    overflow: hidden;
    height: 20rem;
}

.project-proposal .box-container .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-proposal .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 5rem;
}

.project-proposal .box-container .box .image .overlay{
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translatey(20rem); /*아래 박스 hover 통해 마우스 누르면 검정색으로 변환되게 만듦*/
}

.project-proposal .box-container .box .image .overlay h3 {
    font-size: 2rem;
    color: var(--white);
    margin-bottom: 1rem;
}

.project-proposal .box-container .box .image .overlay span {
    font-size: 1.5rem;
    color: var(--gray);
}

.project-proposal .box-container .box:hover .image .overlay{/*이거 말하는겨 y축인 이유는 위에서 아래로이기 때문*/
    transform: translatey(0);
}
}
/*project proposal section*/


/*video production*/
.video-production {
    background-color: var(--light-gray);
}

.video-production .box-container .box .image {
    position: relative;
    overflow: hidden;
    height: 25rem;
}

.video-production .box-container .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-production .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 5rem;
}

.video-production .box-container .box .image .overlay{
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translatey(-40rem); /*아래 박스 hover 통해 마우스 누르면 검정색으로 변환되게 만듦*/
}

.video-production .box-container .box .image .overlay h3 {
    font-size: 2rem;
    color: var(--white);
    margin-bottom: 1rem;
}

.video-production .box-container .box .image .overlay span {
    font-size: 1.5rem;
    color: var(--gray);
}

.video-production .box-container .box:hover .image .overlay{/*이거 말하는겨 y축인 이유는 위에서 아래로이기 때문*/
    transform: translatey(0);
}
/*video-production*/


/*qualification*/
.qualification .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 5rem;
}
.qualification .box-container .box {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
}

.qualification .box-container .box:hover {
    box-shadow: none;
}

.qualification .box-container .box ion-icon {
    font-size: 6rem;
    color: var(--primary-color);
    margin-bottom: 2rem;
}

.qualification .box-container .box span {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.qualification .box-container .box p {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: var(--gray);
    line-height: 2;
}
/*qualification section*/


/*콘택트*/
.contact .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.contact .box-container .box .form-group ion-icon {
    font-size: 2.5rem;
    color: var(--primary-color);
}

.contact .box-container .box .form-group span {
    font-size: 2rem;
    margin-left: 1rem;
}

.contact .box-container .box .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.contact .box-container .box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.contact .box-container .box input {
    border: 0.1rem solid #000;
    padding: 1rem;
    margin-bottom: 1rem;
}

.contact .box-container .box textarea {
    border: 0.1rem solid #000;
    padding: 1rem;
}

.contact .box-container .box button {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
}

.contact .box-container .box button:hover {
    background-color: var(--primary-color);
    color: var(--white);
}
/*콘택트*/

/*푸터*/
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 0.2rem solid var(--light-gray);
}

.footer .socials a {
    font-size: 3rem;
    color: var(--primary-color);
    border-color: var(--light-gray);
    border-radius: 60%;
    padding: 0.5rem;
    margin-right: 3rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.footer .socials a:hover {
    background-color: var(--primary-color);
    color: var(--light-gray);
}

.footer .copyright p {
    font-size: 1.5rem;
}
/*푸터*/
